
<!DOCTYPE HTML>

<html>
	<head>
		<title>Easily Add Watermarks to Your Photos | Watermark Express</title>
		<meta charset="utf-8" />
		<meta name="description" content="Protect your photos with Watermark Express, a free and easy-to-use watermark generator. Add custom text to any image in just a few clicks!">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="staticassets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="static/images/logo.svg" alt="" /></span><span class="title">Watermark Express</span>
								</a>



						</div>
					</header>



				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Protect your images in seconds, a free watermark<br />
								generator created by <a href="https://www.linkedin.com/in/tylergargula/">Tyler Gargula</a>.</h1>
								<p>Introducing Watermark Express, the fast and easy tool that allows you to protect your digital images from unauthorized use. Quickly create custom text watermarks and save images directly to your device.</p>
							</header>

							<!-- Image Upload form -->
							<section>
								<form method="post" enctype="multipart/form-data" >
									{{ form.hidden_tag() }}
									{% for error in form.photo.errors %}
									<span style="color: red;">{{ error }}</span>
									{% endfor %}
									<div class="fields">
										<div class="field half">

											<input type="text" name="watermark" id="watermark" placeholder="Enter Custom Watermark Text" />
										</div>
									</div>
									<ul class="actions">
										<li>{{ form.photo(class="custom-file-input") }}</li>
										<li>{{ form.submit }}</li>
									</ul>
								</form>
							</section>
							{% if file_url %}



								<article>
									<span class="image">
										<img src="{{ file_url }}" alt="Your newly generated image" />
									</span>
									<a href="{{ file_url }}" download="{{ file_url }}">
										<h2>Download</h2>
															</a>
										<div class="content">
											<p>Your watermarked image is ready!</p>
										</div>

								</article>



							{% endif %}
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">

							<section>
								<h2>Follow Me</h2>
								<ul class="icons">
									<li><a href="https://www.linkedin.com/in/tylergargula/" class="icon brands style2 fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/tylergargula" class="icon brands style2 fa-github" target="_blank"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; <a href="https://tylergargula.dev/" target="_blank">Tyler Gargula.</a>All rights reserved</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>